@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


/* WORKING TO MAKE STICKY HEADER ON MOBILE */
/*
body {
    background-color: #1E1E1E;
    color: #D5D5D5;
    margin: auto;

    font-family: 'Exo 2', serif;
    position: fixed;
}

main {
    background-color: #1E1E1E;
    color: #D5D5D5;
    margin-top: 70px;
    
    position: relative;
    display: flex;
    margin-bottom: 70px;
}

header {
    overflow-x: auto;
    background-color: #B51A1A;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #6A0F0F;

    margin-top: 0;
    padding: 0;
    position: fixed;
}
*/

body {
    background-color: #1E1E1E;
    color: #D5D5D5;
    margin: auto;

    overflow-y: auto;

    font-family: 'Exo 2', serif;
    padding-bottom: 55px;
}

header {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #B51A1A;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #6A0F0F;
}

.headerLink {
    text-decoration: none !important;
    color: inherit;
}

#homeLinkText {
    font-family: 'Exo 2', serif;
    font-size: 150%;

    color: white;
    background-color: #6A0F0F;

    display: inline;
    border: solid black 2px;
    border-radius: 18px 4px 18px 4px;
    padding: 0px 4px 6px 4px;
    margin-left: 8px;
}

.headerText {
    font-family: 'Exo 2', serif;
    font-size: 12pt;

    color: white;

    display: inline;
    vertical-align: center;
    margin-left: 16px;
}

footer {
    background-color: #B51A1A;
    width: 100%;
    height: 2.5%;
    display: flex;
    position: absolute;
    bottom: 0%;
    align-items: center;
    border-top: 5px solid #6A0F0F;

    padding-top: 5px;
    padding-bottom: 10px;

    position: fixed;
}

.footerElement {
    height: 20px;
    display: inline;
    margin-left: 2%;
    font-family: 'Exo 2', serif;
}

.accountDiv {
    background-color: #B51A1A;

    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #6A0F0F;
}

.textField {
    background-color: #1E1E1E;
    color: white;

    border-radius: 0 20px 20px 10px;
}

.accountButton {
    background-color: #1E1E1E;
    color: white;
    
    border-radius: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}

.pcDiv {
    background-color: #B51A1A;

    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #B51A1A;
}

.pcCreationText {
    background-color: #6A0F0F;
    border-radius: 8px 0 0 8px;
    padding: 0 0 4px 4px;
}

.pcAlignment {
    border: 2px solid #D5D5D5;
    background-color: #1E1E1E;
}

.notStarted {
    background-color:#1E1E1E;
    color: #B51A1A;

    padding: 0 2px 4px 2px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.inProgress {
    background-color: #1E1E1E;
    color: #c5bd27;

    padding: 0 2px 4px 2px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.completed {
    background-color: #1E1E1E;
    color: #5DB81F;

    padding: 0 2px 4px 2px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.roadmapDefault {

    padding: 0 2px 4px 2px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.attributeButton {
    background-color: #1E1E1E;
    color: #D5D5D5;
    border-radius: 10px 10px 10px 10px;
}

canvas {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

    border: 3px solid #B51A1A;
    border-radius: 3vw;
}

.campaignDiv {
    display: inline-block;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 40vw;

    background-color: #B51A1A;

    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid #6A0F0F;
}

.campaignCard {
    background-color: #1E1E1E;
    border-radius: 0 10px 0 10px;
}